<div class="home">
  <a href="/">&larr; Home</a>
</div>

<div class="container"
  <form id="sign_in_user" action="/user/login" method="POST">

      <span>Email:</span>
      <input type="text" placeholder="<%= current_user.email %>" name="email">
      <br>
      <span>Password:</span>
      <input type="password" placeholder="Password" name="password">
      <br>
      <span>Password Confirmation:</span>
      <input type="password" placeholder="Password Confirmation" name="password_confirmation">
      <br>
      <input type="submit" value="Sign In">
  </form>
</div>
