<div class="home">
  <a href="/">&larr; Home</a>
</div>

<div class="container"
  <form id="new_user" action="/user/sign_up" method="POST">

      <span>Email:</span>
      <input type="text" placeholder="Email" name="email">
      <br>
      <span>Password:</span>
      <input type="password" placeholder="Password" name="password">
      <br>
      <span>Password Confirmation:</span>
      <input type="password" placeholder="Password Confirmation" name="password_confirmation">
      <br>
      <input type="submit" value="Sign Up">
  </form>
</div>
